<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1>💬 Chat App</h1>

        <p>Create your account</p>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button type="submit">
                Sign Up
            </button>

        </form>

        <div class="bottomText">
            Already have an account?
            <a href="{{ url_for('login') }}">
                Login
            </a>
        </div>

    </div>

</div>

</body>
</html>